<div class="container mx-auto py-8 max-w-5xl">
    <div class="rounded-lg overflow-hidden">
        <div class="p-4 md:p-6">
            <h1 class="text-2xl font-bold mb-2">¡Descarga Nocturnal Hunters!</h1>
            <p class="text-gray-700">Nocturnal Hunters es un emocionante juego de supervivencia estilo roguelike. Sobrevive y elimina enemigos con una variedad de personajes que puedes elegir. Además, nuestra aplicación tracker te permitirá acceder a información detallada sobre personajes, enemigos, buffos, y datos precisos de tus partidas.</p>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-8">
        <div class="shadow-lg rounded-lg overflow-hidden borde flex flex-col">
            <div class="p-4 md:p-6 flex-grow">
                <h3 class="text-lg font-bold mb-2 text-center">Juego</h3>
                <img src="../../../assets/img/MainJuego.PNG" alt="Imagen del Juego" class="mx-auto mb-4 max-w-xs h-auto" style="max-height: 300px;">
                <p class="text-gray-700 mb-4 text-center">Nocturnal Hunters te desafía a sobrevivir en un entorno hostil mientras eliminas a numerosos enemigos. ¡Elige tu personaje y empieza la aventura ahora!</p>
            </div>
            <button class="button mx-auto mb-6">
                <a href="https://github.com/Joakamakaka1/Nocturnal-Hunter-Game">
                    <span class="button-content p-40">Download</span>
                </a>
            </button>
        </div>
        <div class="shadow-lg rounded-lg overflow-hidden borde flex flex-col">
            <div class="p-4 md:p-6 flex-grow">
                <h3 class="text-lg font-bold mb-2 text-center">Tracker</h3>
                <img src="../../../assets/img/Dashboard.PNG" alt="Imagen del Tracker" class="mx-auto mb-4 max-w-xs h-auto pb-2" style="max-height: 300px;">
                <p class="text-gray-700 mb-4 text-center">Nuestra aplicación tracker proporciona datos detallados de tus partidas, incluyendo estadísticas de personajes, enemigos, y mas. Monitorea y mejora tu rendimiento ya.</p>
            </div>
            <button class="button mx-auto mb-6">
                <a href="https://github.com/Joakamakaka1/Nocturnal-Tracker">
                    <span class="button-content p-40">Download</span>
                </a>
            </button>
        </div>
    </div>
</div>