<div class="container mx-auto py-8 max-w-5xl">
    <div class="rounded-lg overflow-hidden">
        <div class="p-4 md:p-6">
            <h1 class="text-2xl font-bold mb-2">Lorem ipsum dolor sit.</h1>
            <p class="text-gray-700">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates consectetur blanditiis ab delectus deleniti earum praesentium ratione odio suscipit, ipsa doloremque, quasi assumenda, nihil labore quia similique consequatur adipisci. Hic.</p>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-8 ">
        <div class="shadow-lg rounded-lg overflow-hidden borde">
            <div class="p-4 md:p-6">
                <h3 class="text-lg font-bold mb-2 text-center">Juego</h3>
                <img src="../../../assets/img/MainJuego.PNG" alt="Card Image" class="mx-auto mb-4 max-w-xs h-auto" style="max-height: 300px;">
                <p class="text-gray-700 mb-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores corporis in odit eligendi deleniti omnis dolor consectetur amet itaque tenetur nemo, laborum, sit consequatur. Rerum cumque fuga repellat amet sed!</p>
                <button class="button mx-auto">
                    <span class="button-content p-40">Download</span>
                </button>
            </div>
        </div>
        <div class="shadow-lg rounded-lg overflow-hidden borde">
            <div class="p-4 md:p-6">
                <h3 class="text-lg font-bold mb-2 text-center">Tracker</h3>
                <img src="../../../assets/img/Dashboard.PNG" alt="Card Image" class="mx-auto mb-4 max-w-xs h-auto" style="max-height: 300px;">
                <p class="text-gray-700 mb-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores corporis in odit eligendi deleniti omnis dolor consectetur amet itaque tenetur nemo, laborum, sit consequatur. Rerum cumque fuga repellat amet sed!</p>
                <button class="button mx-auto">
                    <span class="button-content p-40">Download</span>
                </button>
            </div>
        </div>
    </div>
</div>