<!--Footer-->
<footer class="text-white py-8">
  <div class="text-center">
    <h3 class="otherH3">Nocturnal's</h3>
  </div>
  <div class="text-center mb-4">
    <p>Hecho por <a class="other-a" href="https://libnamic.com/es/">Joaquin</a> © Nocturnal's</p>
  </div>
  <div class="flex justify-center">
    <ul class="list-none flex">
      <li class="mx-2"><a href="#"><img src="../../../assets/social-icons/gitHub.png" alt="Facebook" class="social-icon"></a></li>
      <li class="mx-2"><a href="#"><img src="../../../assets/social-icons/gorjeo.png" alt="Twitter" class="social-icon"></a></li>
      <li class="mx-2"><a href="#"><img src="../../../assets/social-icons/linkedin.png" alt="Instagram" class="social-icon"></a></li>
      <li class="mx-2"><a href="#"><img src="../../../assets/social-icons/gitLab.png" alt="LinkedIn" class="social-icon"></a></li>
      <li class="mx-2"><a href="#"><img src="../../../assets/social-icons/instagram.png" alt="LinkedIn" class="social-icon"></a></li>
    </ul>
  </div>
</footer>